#select-div {
	position:sticky;
	top:2px;
	display:flex;
	justify-content: center;
}

select {
	width:100%;
	min-height:40px;
	max-height:40px;
	margin:0 0 10px 0;
	font-weight: bold;
}

#main-content {
}

#content {
	display: flex;
	flex-direction: row;
	height:500px;
	border:1px solid #dcdcdc;
	box-shadow: 0 0 6px rgba(0,0,0,0.15);
	border-radius: 8px;
	padding:20px;
	overflow: auto;
}

.instructions {
	width:99%;
	background-color: #F2F0E4;
	padding:4px;
	font-size: 12px;
	margin-bottom:10px;
	border:1px solid #dcdcdc;
}

#maps {
	min-width:300px;
	margin-left:10px;
}

#desc p {
	font-size:14px;
}