* {
	box-sizing: border-box;
}

html, body {
	height:100%;
	width:100%;
    margin:0;
	padding:0;
	font-family: "Roboto", sans-serif;
}

#page-wrapper {
	padding:40px;
}

#ucsc-logo {
	width:130px;
	margin:20px 0;
}

#else-div {
    display:flex;
    flex-direction: row;
}

#contact,
#contact:hover {
	font-family: "Roboto Condensed", sans-serif;
	text-decoration: none;
	width: 90%;
	text-align: center;
	color: white;
	background-color: #AA1712;
	background-color: #93c02d;
	border-radius: 12px;
	margin-bottom: 12px;
	padding: 12px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

#contact:hover {
	-webkit-transform: scale(1.03);
	transform: scale(1.03)
}